
@{
    ViewBag.Title = "Index";
}

<h2>Make a Donation</h2>
<p>Click on any one Donation Type to continue</p>

<li>@Html.ActionLink("Type1", "Create", "Reguser")</li>
<li>@Html.ActionLink("Type2", "Create", "Reguser")</li>
<li>@Html.ActionLink("Type3", "Create", "Reguser")</li>
<li>@Html.ActionLink("Type4", "Create", "Reguser")</li>
