
@{
    ViewBag.Title = "Index";
}

<h2>Make a Donation</h2>
<p>Click on any one Donation Type to continue</p>
<table class="table" style="border:1px solid black;width:80%;">
    <tr>
        Donation Types
    </tr>
    <tr>
        <th>@Html.ActionLink("General Donation Fund", "Create", "Reguser")</th>
        <th>@Html.ActionLink("Run For The Son 2019", "Create", "Reguser")</th>
        <th>@Html.ActionLink("Mission Trip Sponsorship", "Create", "Reguser")</th>
        <th>@Html.ActionLink("Memorial Gift", "Create", "Reguser")</th>
</tr>
</table>