<!doctype html>

<header style="background-color: #dff0d8;">

    <div>
        <p style="margin-left:10px;float:left;font-size:large;font-family:'Times New Roman', Times, serif;font-style:italic;font-weight:bold;font-stretch:wider;">
            NGO<img src="~/Content/ImgDonate.jpg" style="width:100px;" />Helping Hands are better than Praying Lips!
        </p>
        <p style="text-align:right">
            @if (Session["firstname"] != null)
            {
                <label>
                    @Session["firstname"]
                </label>
            }
            @if (Session["lastname"] != null)
            {
                <label>
                    @Session["lastname"]
                </label>
            }
            (
            @if (Session["role"] != null)
            {
                <label>
                    @Session["role"]
                </label>
            }
            )
            @Html.ActionLink("Log out", "Index", "Home")
            <img src="~/Content/UserIcon.png" style="width:50px" />

        </p>
    </div>
</header>





